services:

  api:
    image: doconnor/movies-api:1.0
    container_name: movies-api
    ports:
      - '9000:9000'
    environment:
      - MONGODB_URI=mongodb://admin:secret@mongodb:27017
      - REDIS_URI=redis://redis:6379
      - ENABLE_WRITING_HANDLERS=false  
    depends_on:
      - mongodb
      - redis
     

networks:
   profile-network:
       external: true
       name: 'mongo-network'

         
mongodb:
    container_name: mongoDB
    image: mongo:8.0-rc
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=secret
    volumes:
      - mongo_data:/data/db

redis:
    image: redis:alpine
    
         
